<%- include('nav') -%>
  <main>
    <p>Login</p>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text"/>
      <label for="password">Password</label>
      <input name="password" type="password"/>
      <button type="submit">Log In</button>
    </form>
    <hr>
    <p>Don't have an account.
      <a href="/signup">Sign up here.</a>
    </p>
    <%- include('footer') -%>
