<!DOCTYPE html>
<html>

  <head>
    <title>Da Club</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>

  <body>
    <nav>
      <div class="icon">
        <a href="/">
          Da Club</a>
      </div>
      <div class="links">
        <% if (user) { %>
          <button>
            <a href="/makeMember">
              Become a Member
            </a>
            <button>
              <a href="/makeAdmin">
                Become a Admin
              </a>
            </button>
            <button>
              <a href="/logout">LOG OUT</a>
            </button>
          <% } else {%>
            <button>
              <a href="/login">LOG IN</a>
            </button>
            <button>
              <a href="/signup">SIGN UP</a>
            </button>
          <% } %>

        </div>
      </nav>
