<%- include('nav') -%>
  <main>
    <h1>New Message</h1>
    <form action="new" method="post">
      <label for="message">Enter Your Message</label>
      <input type="text" name="message"/>
      <button type="submit">Post</button>
    </form>
  </main>
  <%- include('footer') -%>
