<%- include('nav') -%>

  <main>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="firstName">First Name</label>
      <input name="firstName" placeholder="First Name" type="text"/>
      <label for="surname">Surname</label>
      <input name="surname" placeholder="Surname" type="text"/>
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text"/>
      <label for="password">Password</label>
      <input name="password" type="password"/>
      <label for="repassword">Re-enter Password</label>
      <input name="repassword" type="password"/>
      <button>Sign Up</button>
    </form>
    <%- include('footer') -%>
