body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form, body, nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

.icon, .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.message {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 1rem;
  min-width: 15rem;
}
.message:hover {
  border-color: #00B7FF;
}

.message-content, .message-time {
  width: 100%;
}
.message-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.message-text{
  font-size: 1rem;
  margin: 0.5rem;
}

.message-name {
  font-size: 2rem;
  margin: 0;
  text-decoration: underline;
}

.message-time {
  text-align: right;
  margin: 0;
  font-size: 0.75rem;
}
